<body style="direction: rtl;">
  <div id="h">
    <div class="b">
      <br>
      <div class="aa"> צור קשר</div>
      <div class="bb"> הצטרפו עכשיו למערכת Smart- system</div>

      <div class="details">
        <p id="di1">לפרטים נוספים,<br></p>
        <p id="di"> מלאו את הטופס ונחזור אליכם בהקדם...</p>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="שם מלא" formControlName="fullName">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="דואר אלקטרוני" formControlName="email">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="מספר טלפון" formControlName="phone">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="הודעה" formControlName="message"></textarea>
        </mat-form-field>
        <br>
        <!-- <button mat-button (click)="sendD()"
          style="width: 400px; margin-left: 50px;background-color: beige;">שלח</button> -->
      </div>
    </div>
  </div>
</body>
