.details{
    border-color:black;
    width: 500px;
    height: 500px; 
    background-color: white;
    border-radius: 5%;
    margin-right: 750px;
    margin-bottom: 500px;
    text-decoration: rtl !important;
    box-shadow: 9px 9px 30px 9px rgba(237, 226, 155, 0.8);
    
}
.de{
    width: 500px;
    height: 500px;
    background-color: aqua;
}
.aa{
    margin-left: 78%;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
.bb{
    margin-left:65%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#h{
    height: 800px;
}
.b{
    background-color: rgb(144, 190, 231);
    width: 100%;
    height: 370px;    
    text-decoration: rtl;
    font-size: 25px;
    
}
.example-full-width{
    margin-left: 50px;
    width: 400px;
}
::ng-deep.element.style {
    transform: none;
    width: 1500px;
}
#di{
    text-decoration: rtl;
    margin-left: 85px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#di1{
    text-decoration: rtl;
    margin-left: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}