<div class="chat" *ngIf="messages">
    <div class="chat__case">
        <div class="chat__earsection">
            <div class="chat__camera"></div>
            <div class="chat__speaker"></div>
        </div>
        <div class="chat__screen">
            <div class="chat__massages">
                <cdk-virtual-scroll-viewport appendOnly itemSize="15" class="chat__scroller" #virtualScroll
                    style="height: 323px;">
                    <div *cdkVirtualFor="let message of messages" class="chat__message"
                        [ngClass]="{
                            'chat__message--current-user':userId===message.userId ,
                            'chat__message--other-user':userId != message.userId   }">
                            
                        {{message.body}}
                    </div>
                </cdk-virtual-scroll-viewport>
                <div class="chat__form">

                    <mat-form-field class="example-full-width">
                        <input #newMessage matInput placeholder="Your Message" />
                    </mat-form-field>

                    <button mat-mini-fab color="primary" (click)="sendMessage(newMessage.value,newMessage)">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="chat__button">
            <div class="chat__buttonsquare"></div>
        </div>
    </div>
</div>