.header{
    &__spacer {
        flex: 1 1 auto;
      }
      &__link
      {
        padding: 10px;
        color: white;
        text-decoration: none;
      }
}
.mune{
  width: 100%;
   display: flex;  
  
}
#button_space{
  margin: auto;

}
.img{
  width: 150px;
  height: 150px;
}
.butt{
  width: 450px;
  border: none;
  border-bottom: blue;
height:48px ;

}
.butt::selection{
  color: aqua;
}
