<form action="userForm">
  <h1 style="margin-top: 50px;margin-left: 200px;">הרשמה לאתר</h1>
  <div [formGroup]="myGroup">

  <div id="d">
    <mat-form-field appearance="fill" class="fieldC">

      <mat-label>תעודת זהות </mat-label>
      <input  matInput formControlName="id" required>
      <mat-icon matSuffix>adjust</mat-icon>

    </mat-form-field>
  </div>

 
  <div id="d">
    <mat-form-field appearance="fill" class="fieldC">

      <mat-label>שם פרטי</mat-label>
      <input matInput formControlName="firstName" required>
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
  </div>
  <div id="d">
    <mat-form-field appearance="fill" class="fieldC" #lastName>
      <mat-label>שם משפחה </mat-label>
      <mat-icon matSuffix>person_outline</mat-icon>
            <input matInput formControlName="lastName" required>
    </mat-form-field>
  </div>
 <div id="d">
    <mat-form-field appearance="fill" class="fieldC">
      <mat-label>כתובת </mat-label>
      <input matInput formControlName="address" required>
      <mat-icon matSuffix>address</mat-icon>
    </mat-form-field>
  </div>
  <div id="d">
    <mat-form-field appearance="fill" class="fieldC" #email123>
      <mat-label>מייל</mat-label>
      <input matInput formControlName="email1" required>
       <!--לבדוק למה אי אפשר לשים בדיקת תקינות  -->
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>   -->
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
  </div>
   <div id="d">
    <mat-form-field appearance="fill" class="fieldC">
      <mat-label>סיסמא</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" required formControlName="pass">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div id="d">
    <mat-form-field appearance="fill" class="fieldC">
      <mat-label>מספר טלפון</mat-label>
      <mat-icon matSuffix>phone</mat-icon>
      <input matInput formControlName="tel">
    </mat-form-field>
     
  </div> 
  <br></div>

  <button mat-raised-button (click)="addTeacher()" style="margin-left: 200px;margin-right: 15px; ">שליחה</button>
  <button mat-raised-button mat-dialog-close>ביטול</button>
</form>