
.all{
    display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 450px;
  background-image: url('./1image.png');
  background-repeat:round;

}
.home{
    margin: 40px;
    h1{
        font-size: 60px;
        text-align: center;
    }
} 
.white{
    width:400px;
    height: 390px;
    background-color: rgb(237, 237, 165);
    margin-left:80px;
    border-radius: 10%;
    display: inline-block;
    &__main{
        text-align: center;
        font-size: 150%;
        word-spacing: normal;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    &__second{
        text-align: center;
        font-size: 150%;
        word-spacing: normal;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

