<div class="chat-container" style="display: flex; background-image: url('back.png');background-repeat: round;" >
  <div class="chat-container__room-list" *ngIf="rooms$ |async as rooms">
    <div>
    <div class="chat-containner__add-room" *ngIf="flag">
      <button type="button" mat-raised-button color="primary"  (click)="openAddRoomModal()" style="margin: 20px;background-color: rgba(207, 149, 189, 0.671);    width:150px;"> הוספת חדר</button>
    </div>
      <app-room-list  [rooms]="rooms">
      </app-room-list>
    </div>
    <div class="chat-contaniner__chat" >
      <app-chat [messages]="messages" [message]="message" (onSendMessage)="onSendMessage($event)"></app-chat>
    </div>
  </div>
</div>
