.chat-container{
    display: flex;
    direction: rtl;
    &__room-list{
        width: 14rem;
        margin-right: 2rem;
        text-align: center;
        display: flex;
    }
    &__add-room{
     position: fixed;
     bottom: 4rem;
     right: 4rem;  
     display: block; 
    }
}
