<div class="app" style="direction: unset;">
    <app-header></app-header>
    <main>
        <router-outlet>
            <footer style="background-color: antiquewhite;width: 100%;height: 350px; display: flex;">
                <div class="story text-center">
                    <br> <br>
                    <b> Smart- system </b> <br>
                    הינה מערכת חדשנית ומתקדמת שצמחה <br>
                    בין כותלי בית הספר המציעה פתרון טכנולוגי <br>
                    חדשני. נותנת מענה לאתגרים ולצרכים של <br>
                    בתי הספר בעידן המודרני מאפשר למורה<br>
                    . נוחה יותר ולמנהל להתנהל לתקשר בצורה <br>
                    <br><br>
                    ...הצטרפו אלינו <br>
                    לפרטים שלחו מייל לכתובת 
        <br>esti30511@gmail.com
                    <!-- <button mat-mini-fab style="margin: 10px;margin-top: 20px;" (click)="sendEmail()">
                        <mat-icon>send</mat-icon>
                    </button>
                    <input type="email" [(ngModel)]="email" id="" style="width: 200px;height: 30px;border-radius: 5%;"> -->
                </div>
                <div class="news">
                </div>
            </footer>
        </router-outlet>
    </main>
</div>