.story{
    margin-left:550px;
    font-size: large;
}
::ng-deep.mat-mdc-mini-fab.mat-accent {
 --mdc-fab-container-color: #dad1b0;
 --mdc-fab-icon-color: #000;
 --mat-mdc-fab-color: #000;
}
.app{
    overflow-x: hidden
}
