body {
  background-image: url(a.jpg);
  background-repeat: no-repeat;
  display: block;
  background-size: 100%;
}
.enter_details {
  width: 350px;
  height: 350px;
  background-color: white;
  margin-left: 700px;
  margin-top: 150px;
  border-radius: 5%;
  display: inline-flex;
  flex-direction: column;
}
h5 {
  margin-left: 100px;
  margin-top: 10px;
}
.mb-3 {
  margin: 7%;
}
.form-label {
  margin-left: 120px;
}
.example-tel-input-container {
  display: flex;
}

.example-tel-input-element {
  border: none;
  background: none;
  padding: 0;
  outline: none;
  font: inherit;
  text-align: center;
}

.example-tel-input-spacer {
  opacity: 0;
  transition: opacity 200ms;
}

:host.example-floating .example-tel-input-spacer {
  opacity: 1;
}