<body>
  <div class="enter_details">
    <h5>כניסה לאזור האישי</h5>
    <div class="mb-3">
      <label class="form-label">הכנס מייל</label>
      <br />
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
        formControlName="email"
      />
      <br />
      <label class="form-label">הכנס סיסמא</label>
      <br />
      <input
        class="form-control"
        id=""
        rows="2"
        placeholder="*********"
        formControlName="pass"
      />
      <br />
      <br /><br />
      <button type="button" class="btn btn-outline-primary" (click)="Login()">
        כניסה
      </button>
    </div>
  </div>
</body>
