<!-- <table mat-table [dataSource]="TimeSystemTable" class="mat-elevation-z8">
 
    <ng-container matColumnDef="Sunday">
      <th mat-header-cell *matHeaderCellDef> ראשון </th>
      <td mat-cell *matCellDef="let element"> {{element.data}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Monday">
      <th mat-header-cell *matHeaderCellDef> שני </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Tuesday">
      <th mat-header-cell *matHeaderCellDef> שלישי </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
    <ng-container matColumnDef="Wednesday">
      <th mat-header-cell *matHeaderCellDef> רביעי </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>
   <ng-container matColumnDef="Thursday">
    <th mat-header-cell *matHeaderCellDef> חמישי </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>

</ng-container> 
<ng-container matColumnDef="Friday">
  <th mat-header-cell *matHeaderCellDef>  שישי </th>
  <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>

</ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    
  </table> -->
  <div class="main" dir="rtl">
    <br>
    <br>
    <br>
    <br>
    <h1 style="text-align: center;">מערכת שעות</h1>

    <div class="wrap-table" style="height: 400px; width: 70%;margin: auto;margin-bottom: 40px;">
    <table mat-table [dataSource]="long" class="mat-elevation-z8" *ngIf="arr[0].length">
      <ng-container *ngFor="let day of displayedColumns;let index=index">
        <ng-container [matColumnDef]="day">
          <th mat-header-cell *matHeaderCellDef> {{day}} </th>
          <td mat-cell  class="mat-column" *matCellDef="let element;let i=index" >
            <div *ngIf="arr[index][i]" >
              <span *ngIf="arr[index][i].teacherId==id">מורה :{{arr[index][i].teacherId}}
              <br>
              מקצוע :{{arr[index][i].subject}}
            <br>
          כיתה: {{arr[index][i].ClassName}}</span>
            </div>
          </td>
        </ng-container>
      </ng-container>
      <!-- <ng-container matColumnDef="Monday">
        <th mat-header-cell *matHeaderCellDef> שני </th>
        <td mat-cell *matCellDef="let element;let i=index"> {{element[arr[i]]}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Tuesday">
        <th mat-header-cell *matHeaderCellDef> שלישי </th>
        <td mat-cell *matCellDef="let element">{{element[arr[i]]}} </td>
      </ng-container>
      <ng-container matColumnDef="Wednesday">
        <th mat-header-cell *matHeaderCellDef> רביעי </th>
        <td mat-cell *matCellDef="let element;let i=index">{{element[arr[i]]}} </td>
      </ng-container>
      <ng-container matColumnDef="Thursday">
        <th mat-header-cell *matHeaderCellDef> חמישי </th>
        <td mat-cell *matCellDef="let element;let i=index"> {{element[arr[i]]}} </td>
  
      </ng-container>
      <ng-container matColumnDef="Friday">
        <th mat-header-cell *matHeaderCellDef> שישי </th>
        <td mat-cell *matCellDef="let element;let i=index">{{element[arr[i]]}} </td>
  
      </ng-container> -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  
    </table>
    </div>
  </div>